<div class="wrapper">
    <div class="jumbotron">
        <h2>VOLEIBOL... UNA PALABRA, MIL SENSACIONES</h2>
        <img class="img-thumbnail" src="img/bolivia_cadetes.jpg" alt="Generic placeholder image" width="300">
        <div class="col-lg-4">
            <img class="img-thumbnail" src="img/Bolivia.jpg" alt="Generic placeholder image" width="300">
        </div>
        <div class="col-lg-4">
            <img class="img-thumbnail" src="img/umss.jpg" alt="Generic placeholder image" width="410">
        </div>
    </div>

    <div class="container marketing">
        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <img class="img-circle" src="img/mision.gif" alt="Generic placeholder image" width="100" height="100">
                <h2>MISION</h2>
                <p>Mantener la pureza y excelencia del Voleibol como uno de los deportes mas atleticos,
                   entretenidos y competitivos alrededor del mundo.</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle" src="img/vision_v.png" alt="Generic placeholder image" width="100" height="100">
                <h2>VISION</h2>
                <p>Pretendemos crear, formar y fomentar el más emocionante y
                    espectacular deporte de precision, como es el voleibol, y su participacion a nivel departamental.</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle" src="img/objetivo.png" alt="Generic placeholder image" width="100" height="100">
                <h2>OBJETIVOS</h2>
                <p>Promover, organizar, fomentar y supervisar la práctica del voleibol
                    competitivo, promocional y formativo, en todas sus categorías y divisiones, en
                    el Departamento de Cochabamba, propendiendo alcanzar los niveles más
                    altos.</p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
        <!-- START THE FEATURETTES -->
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Cochabamba, cuna de Campeones<span class="text-muted"></span></h2>
                <p class="lead">Decimos que nuestra Cochabamba es un semillero de campeones en el Voleibol por la enorme
                                cantidad de títulos nacionales cosechados en lides nacionales, sólo basta dar una mirada
                                a las vitrinas y estantes de nuestra entidad para dar crédito de lo manifestado anteriormente.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive center-block" src="img/trofeo.jpg" alt="Generic placeholder image">
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 col-md-push-5">
                <h2 class="featurette-heading">Una leyenda en el Voleibol<span class="text-muted"></span></h2>
                <p class="lead">El cochabambino David Espinosa Kippes nacido el 27 de julio de 1950,
                                es una de las leyendas vivas del voleibol local y nacional por los 82 títulos obtenidos,
                                de los 90 que disputó, conduciendo selecciones nacionales y departamentales, en diferentes categorías,
                                así como en clubes.</p>
            </div>
            <div class="col-md-5 col-md-pull-7">
                <img class="featurette-image img-responsive center-block" src="img/profe.jpg" alt="Generic placeholder image">
            </div>
        </div>
        <!-- /END THE FEATURETTES -->
        <!-- FOOTER -->
        <footer>
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>© 2014 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
        </footer>
    </div>
</div>
