<!DOCTYPE html>
<div ng-controller="changePasswordCtrl">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-6">
        <br>
        <h2 id="content-main-heading">Contraseña</h2>
        <p class="subheader">Cambia tu contraseña actual.</p>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-xs-3">Contraseña Actual:</label>
                <div class="col-xs-4">
                    <input type="password" class="form-control" ng-model="password" ng-class="{'has-error':!isPassValid}"
                           id="inputPassword" placeholder="Contraseña Actual">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3">Nueva Contraseña:</label>
                <div class="col-xs-4">
                    <input type="password" class="form-control" ng-class="{'has-error':!isNewPassValid}"
                           ng-model="newPass" id="inputNewPassword" placeholder="Nueva Contraseña">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3">Confirmar Contraseña:</label>
                <div class="col-xs-4">
                    <input type="password" class="form-control" ng-class="{'has-error':!isRepiteNewPassValid}"
                           ng-model="repiteNewPass" id="inputRepiteNewPassword" placeholder="Confirmar Contraseña">
                </div>
            </div>

            <br>
            <div class="form-group">
                <div class="col-xs-offset-3 col-xs-9">
                    <input type="submit" class="btn btn-primary" ng-click="saveNewPass()" value="Guardar Cambios">
                    <input type="reset" class="btn btn-default" ng-click="clean()" value="Limpiar">
                </div>
            </div>
        </form>
    <div class="col-lg-3">
    </div>
    </div>
</div>