<nav class="menu" ng-controller="menuCtrl">

    <!-- Logo -->
    <div class="logo"></div>

    <!-- Drop down menu options -->
    <!--<div id="div-display-menu" class="btn-group" allow="Menu.Read">-->
    <div id="div-display-menu" class="dropdown">
        <button class="btn dropdown-toggle"
                type="button"
                id="menu1"
                data-toggle="dropdown">
            <div class="text">{{ selectedItem.name}}</div>
            <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <li role="presentation"
                ng-repeat="item in items"
                allow="{{item.allow}}">
                <a role="menuitem" tabindex="-1"  ng-href="#{{item.href}}">{{item.name}}</a>
            </li>
        </ul>

        <div id="div-login-button">
            <button type="button" class="btn btn-primary" ng-click="loginSystem()">Iniciar Sesion</button>
        </div>
    </div>

    <!-- Right menu container -->
    <div class="right-menu">
        <div class="login-logout-box">
            <div id="div-login-app" ng-if="userIsAuthenticated == false">
                <a id="div-login-app-a-login"
                   ng-href="{{autenticate.href}}"
                   translate>
                    {{autenticate.login}}
                </a>
            </div>

            <div id="div-logout-app" ng-if="userIsAuthenticated == true">
                <a id="div-logout-app-a-logout"
                   ng-click="goToLogoutPage()">
                    {{autenticate.logout}}
                </a>
            </div>

        </div>

    </div>

</nav>
