<nav class="menu" ng-controller="menuCtrl">

    <!-- Logo -->
    <div class="logo"></div>

    <!-- Drop down menu options -->
    <!--<div id="div-display-menu" class="btn-group" allow="Menu.Read">-->
    <div id="div-display-menu" class="dropdown btn-group">
        <button class="btn  btn-primary btn-block dropdown-toggle"
                type="button"
                id="menu1"
                data-toggle="dropdown">
            <div class="text">{{ selectedItem.name}}</div>
            <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <li role="presentation"
                ng-repeat="item in items"
                allow="{{item.allow}}">
                <a role="menuitem" tabindex="-1"  ng-href="#{{item.href}}" ng-click="changeSelectedItem($index)">{{item.name}}</a>
            </li>
        </ul>

        <!--<div id="div-login-button">-->
            <!--<div type="button" class="btn btn-primary"><a href="#/login">{{buttonLogin}}</a></div>-->
        <!--</div>-->
    </div>


    <!-- Right menu container -->
    <div class="right-menu">
        <div class="login-logout-box">
            <div id="div-login-app" ng-if="userIsAuthenticated == false">
                <a id="div-login-app-a-login"
                   ng-href="#{{autenticate.href}}"
                   translate>
                    {{autenticate.login}}
                </a>
            </div>

            <div id="div-logout-app" ng-if="userIsAuthenticated == true">
                <div class="loggedName"> {{loggedUser}} </div>
                <a id="div-logout-app-a-logout"
                   ng-click="goToLogoutPage()">
                    {{autenticate.logout}}
                </a>
            </div>
        </div>
    </div>

</nav>
