<div ng-controller="listTransfersCtrl">
    <div class="modal fade" id="create-transfer" role="dialog" data-backdrop="static"
         data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="closeModal()">&times;</button>
                    <h4 class="modal-title">{{formName}}</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <thead>
                            <tr>
                                <th ><b>Club Origen &nbsp;
                                    <label  for="inputOriginClub" class="sr-only">Club Origen</label>
                                    <div allow="No.Change.Dest.Club" style="display: inline;">
                                        <select id="inputOriginClub" ng-model="newTransfer.originClub" ng-change="changeOriginClub()" ng-options="clubOrigin.name for clubOrigin in Clubs"></select>
                                    </div>
                                    <div allow="Change.Dest.Club" style="display: inline;">
                                        <select id="inputOriginClub1" ng-model="newTransfer.originClub" ng-change="changeOriginClub()" ng-options="club.name for club in Clubs"></select>
                                    </div>
                                </b></th>
                                <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                <th><b>Jugador &nbsp;</label>
                                    <label for="inputName" class="sr-only">Jugador</label>
                                    <select id="inputName" ng-model="newTransfer.player"  ng-disabled="!newTransfer.originClub" ng-options="player.fullName for player in Players | filter:newTransfer.originClub._id"></select>
                                </b></th>
                        </div>
                        <div class="form-group">
                            <label>Club Destino</label>
                            <label  for="inputNewClub" class="sr-only">Club Destino</label>
                            <div allow="No.Change.Dest.Club" style="display: inline;">
                                <input type="text" class="form-control" id="inputNewClub" ng-model="newTransfer.newClub.name" disabled>
                            </div>
                            <div allow="Change.Dest.Club">
                                <select ng-model="newTransfer.newClub" ng-options="clubDest.name for clubDest in Clubs track by clubDest._id"></select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="createTransfer()" ng-if="createMode">Crear transferencia</button>
                    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="editTransfer()" ng-if="editMode">Actualizar transferencia</button>
                    <button class="btn btn-lg btn-info btn-block" type="submit" data-dismiss="modal" ng-click="closeModal()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="col-md-3">
        <div allow="Transfers.CUD">
            <button class="btn btn-lg btn-primary btn-block" data-target="#create-transfer" type="submit" data-toggle="modal"
            ng-click="formCreateTransfer()">Registro Transferencia</button>
        </div>
    </div>

    <div class="col-md-12">
        <h2 class="form-signin-heading">Transferencias</h2>
        <label>Buscar  <input id="inputSearch" ng-model="searchText" placeholder="buscar"></label>
        <div class="row">
            <table id="searchTextResults" class="table table-bordered">
                <thead>
                <tr>
                    <th>Jugador</th>
                    <th>Club Origen</th>
                    <th>Club Destino</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th>Editar</th>
                    <th allow="AcceptTransfers">Transferir</th>
                </tr>
                </thead>
                <tbody ng-repeat="transfer in Transfers | filter:searchText">
                <tr>
                    <td>{{transfer.player.name}} {{transfer.player.lastname}}</td>
                    <td>{{transfer.originClub.name}}</td>
                    <td>{{transfer.newClub.name}}</td>
                    <td>{{obtainFormatDate(transfer.requestDate)}}</td>
                    <td>{{transfer.status}}</td>
                    <td><button type="button" class="btn btn-warning" ng-click="formEditTransfer(transfer, $index)" data-toggle="modal"
                                data-target="#create-transfer" ng-disabled="transfer.status == 'Transferido'">Editar</button></td>
                    <td allow="AcceptTransfers">
                        <button type="button" class="btn btn-primary" ng-click="transferPLayer(transfer._id, $index)" ng-disabled="transfer.status == 'Transferido'">
                        Transferir</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
