<!DOCTYPE html>
<div ng-controller="listClubsCtrl">
    <!---Formulario modal para creacion de clubs -->
    <div class="modal fade" id="create-club" role="dialog" data-backdrop="static"
         data-keyboard="false">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="closeModal()">&times;</button>
                    <h4 class="modal-title">{{formName}}</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label>Nombre</label>
                            <label for="inputName" class="sr-only">Nombre</label>
                            <input type="text" id="inputName" class="form-control" ng-class="{'has-error':!isNameValid}" placeholder="Nombre"
                                   required="True" autofocus="1" ng-model="newClub.name">
                            <span style="color: red;" ng-if="!isNameValid">* El nombre tiene caracteres no permitidos</span>
                        </div>
                        <div class="form-group" id='datetimepicker1'>
                            <label>Fundación</label>
                            <p class="input-group">
                                <input type="text" placeholder="dd/mm/yyyy" id="inputDate" class="form-control" datepicker-popup="{{format}}" is-open="opened" min-date="minDate" max-date="{{today}}"
                                       datepicker-options="dateOptions" ng-required="true"
                                       close-text="Close" ng-model="newClub.foundation" disabled>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                            <input type="hidden" id="inputId"  ng-model="newClub._id">
                        </div>
                        <div class="form-group">
                            <label>Delegado</label>
                            <label  for="inputDelegate" class="sr-only">Delegado</label>
                            <select id="inputDelegate" ng-model="newClub.delegate" ng-options="user.fullName for user in Users"></select>

                        </div>
                        <br>

                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="createClub()" ng-if="createMode">Crear club</button>
                    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="editClub()" ng-if="editMode">Actualizar club</button>
                    <button class="btn btn-lg btn-info btn-block" type="submit" data-dismiss="modal" ng-click="closeModal()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-2" allow="Club.CUD"><button class="btn btn-lg btn-primary btn-block" type="submit" data-toggle="modal" data-target="#create-club" ng-click="formCreateClub()">Crear club</button></div>
    <div class="col-md-2"><button id="report" class="btn btn-lg btn-info btn-block" ng-click="generateReport()">Generar Reporte</button></div>
    <div class="col-md-12">
        <h2 class="form-signin-heading">Lista de clubs</h2>
        <label>Buscar  <input id="inputSearch" ng-model="searchText" placeholder="buscar"></label>
        <div class="row advc-row">
            <table id="searchTextResults" class="table table-bordered">
                <thead>
                <tr>
                    <th>Nombre Club</th>
                    <th>Fundacion</th>
                    <th>Delegado</th>
                    <th>Ver Club</th>
                    <th allow="Club.CUD">Editar</th>
                    <th allow="Club.CUD">Eliminar</th>
                </tr>
                </thead>
                <tbody ng-repeat="club in Clubs | filter:searchText">
                <tr>
                    <td>{{club.name}}</td>
                    <td>{{obtainFormatDate(club.foundation)}}</td>
                    <td>{{club.delegate.name}} {{club.delegate.lastname}}</td>
                    <td><button type="button" class="btn btn-primary" ng-click="formTeams(club)">Ver Club</button></td>
                    <td allow="Club.CUD"><button type="button" class="btn btn-warning" ng-click="formEditClub(club)" data-toggle="modal" data-target="#create-club">Editar</button></td>
                    <td allow="Club.CUD"><button type="button" class="btn btn-danger" ng-click="formDeleteClub(club, $index)">Eliminar</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
