<!doctype html>
<html ng-app="advcApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <!--<script src="/socket.io/socket.io.js"></script>-->
        <script type="application/javascript" src="js/lib/jquery/jquery-1.11.3.min.js"></script>
        <script type="application/javascript" src="js/lib/jquery-ui/jquery-ui.min.js"></script>
        <script type="text/javascript" src="js/lib/noty/jquery.noty.packaged.min.js" ></script>
        <script type="application/javascript" src="js/lib/bootstrap/bootstrap.min.js"></script>
        <script type="application/javascript" src="js/lib/angular/angular.min.js"></script>
        <script type="application/javascript" src="js/lib/angular/i18n/angular-locale_es-bo.js"></script>
        <script type="application/javascript" src="js/lib/angular/angular-route.min.js"></script>
        <script type="application/javascript" src="js/lib/angular/angular-resource.min.js"></script>
        <script type="application/javascript" src="js/lib/angular/angular-animate.min.js"></script>
        <script type="application/javascript" src="js/lib/angular/angular-dragdrop.min.js"></script>
        <script type="application/javascript" src="js/lib/bootstrap/ui-bootstrap-tpls-0.13.0.min.js"></script>
        <script type="application/javascript" src="js/lib/rbac/rbac.js"></script>
        <script type="application/javascript" src="js/lib/jsPDF/jspdf.min.js"></script>
        <script type="application/javascript" src="js/lib/jsPDF/jspdf.plugin.from_html.js"></script>
        <script type="application/javascript" src="js/lib/jsPDF/jspdf.plugin.split_text_to_size.js"></script>
        <script type="application/javascript" src="js/lib/jsPDF/jspdf.plugin.standard_fonts_metrics.js"></script>
        <script type="application/javascript" src="js/lib/jsPDF/jspdf.plugin.cell.js"></script>
        <script type="application/javascript" src="js/lib/jsPDF/jspdf.plugin.addimage.js"></script>
        <script type="application/javascript" src="js/lib/FileSaver.js/FileSaver.js"></script>
        <script type="application/javascript" src="js/lib/FileSaver.js/FileSaver.min.js"></script>

        <script type="application/javascript" src="js/app.js"></script>

        <script type="application/javascript" src="js/controllers/menu-controller.js"></script>
        <script type="application/javascript" src="js/controllers/main-controller.js"></script>
        <script type="application/javascript" src="js/controllers/listUsers-controller.js"></script>
        <script type="application/javascript" src="js/controllers/login-controller.js"></script>
        <script type="application/javascript" src="js/controllers/listClubs-controller.js"></script>
        <script type="application/javascript" src="js/controllers/listTeam-controller.js"></script>
        <script type="application/javascript" src="js/controllers/listMedicalRecord-controller.js"></script>
        <script type="application/javascript" src="js/controllers/listPlayers-controller.js"></script>
        <script type="application/javascript" src="js/controllers/listChampionship-controller.js"></script>
        <script type="application/javascript" src="js/controllers/changePassword-controller.js"></script>
        <script type="application/javascript" src="js/controllers/listTransfers-controller.js"></script>
        <script type="application/javascript" src="js/controllers/modal-controller.js"></script>

        <script type="application/javascript" src="js/services/login-service.js"></script>
        <script type="application/javascript" src="js/services/listUsers-service.js"></script>
        <script type="application/javascript" src="js/services/publication-service.js"></script>
        <script type="application/javascript" src="js/services/upload-file-service.js"></script>
        <script type="application/javascript" src="js/services/delete-file-service.js"></script>
        <script type="application/javascript" src="js/services/session.js"></script>
        <script type="application/javascript" src="js/services/listClubs-service.js"></script>
        <script type="application/javascript" src="js/services/team-service.js"></script>
        <script type="application/javascript" src="js/services/listMedicalRecord-service.js"></script>
        <script type="application/javascript" src="js/services/listPlayers-service.js"></script>
        <script type="application/javascript" src="js/services/listChampionship-service.js"></script>
        <script type="application/javascript" src="js/services/changePassword-service.js"></script>
        <script type="application/javascript" src="js/services/listTransfers-service.js"></script>
        <script type="application/javascript" src="js/services/config-service.js"></script>
        <script type="application/javascript" src="js/services/generate-report-service.js"></script>

        <script type="application/javascript" src="js/directives/upload-file-directive.js"></script>

        <link href="css/bootstrap/bootstrap.css" rel="stylesheet"/>
        <link href="css/bootstrap/bootstrap-responsive.min.css" rel="stylesheet"/>
        <link href="css/bwizard/bwizard.min.css" rel="stylesheet"/>
        <link href="css/advc-component-library.css" rel="stylesheet"/>
        <link href="css/advc-component-library-colors.css" rel="stylesheet"/>
        <link href="css/advc-component-library-icons.css" rel="stylesheet"/>
        <link href="css/fonts.css" rel="stylesheet"/>
        <link href="css/main.css" rel="stylesheet"/>
        <link href="css/menu.css" rel="stylesheet"/>
        <link href="css/board.css" rel="stylesheet"/>
        <link href="css/kardex.css" rel="stylesheet"/>
        <link rel="shortcut icon" href="img/favicon.ico">
        <link href="css/modal.css" rel="stylesheet"/>

        <title>Asociación Departamental de Voleibol Cochabamba</title>
    </head>
    <body>
        <header ng-include="'partials/headerMenu.html'"></header>
        <div class="view" ng-view></div>
    </body>
</html>
