<!doctype html>
<html lang="en" ng-app="advcApp">
    <head>
        <meta charset="utf-8">
        <!--<script src="/socket.io/socket.io.js"></script>-->
        <script data-main="js/main" src="js/lib/requirejs/require.min.js"></script>
        <script type="application/javascript" src="js/lib/angular/angular.min.js"></script>
        <script type="application/javascript" src="js/lib/angular/angular-route.min.js"></script>
        <script type="application/javascript" src="js/lib/angular/angular-resource.min.js"></script>
        <script type="application/javascript" src="js/lib/bootstrap/ui-bootstrap-tpls-0.13.0.min.js"></script>
        <script type="application/javascript" src="js/app.js"></script>
        <script type="application/javascript" src="js/controllers/board-controller.js"></script>
        <script type="application/javascript" src="js/controllers/menu-controller.js"></script>

        <!--<script type="text/javascript">-->
            <!--angular.element(document.getElementsByTagName('head')).append(angular.element('<base href="' + window.location.pathname + '" />'));-->
        <!--</script>-->
        <title>{{'PRODUCT_NAME'}} - {{'PRODUCT_VERSION'}}</title>
    </head>
    <body>
        <header ng-include="'partials/headerMenu.html'"></header>
        <div class="view" ng-view></div>
        <!-- inject -->
    </body>
</html>