<!doctype html>
<html ng-app="advcApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
        <!--<script src="/socket.io/socket.io.js"></script>-->
        <script data-main="js/main" src="js/lib/requirejs/require.min.js"></script>
        <script type="application/javascript" src="js/lib/jquery/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="js/lib/noty/jquery.noty.packaged.min.js" ></script>
        <script type="application/javascript" src="js/lib/bootstrap/bootstrap.min.js"></script>
        <script type="application/javascript" src="js/lib/angular/angular.min.js"></script>
        <script type="application/javascript" src="js/lib/angular/angular-route.min.js"></script>
        <script type="application/javascript" src="js/lib/angular/angular-resource.min.js"></script>
        <script type="application/javascript" src="js/lib/bootstrap/ui-bootstrap-tpls-0.13.0.min.js"></script>

        <script type="application/javascript" src="js/app.js"></script>




        <script type="application/javascript" src="js/controllers/board-controller.js"></script>
        <script type="application/javascript" src="js/controllers/menu-controller.js"></script>
        <script type="application/javascript" src="js/controllers/main-controller.js"></script>
        <script type="application/javascript" src="js/controllers/listUsers-controller.js"></script>
        <script type="application/javascript" src="js/controllers/login-controller.js"></script>
        <script type="application/javascript" src="js/controllers/listClubs-controller.js"></script>

        <script type="application/javascript" src="js/directives/create-modal-directive.js"></script>

        <script type="application/javascript" src="js/services/login-service.js"></script>
        <script type="application/javascript" src="js/services/listUsers-service.js"></script>
        <script type="application/javascript" src="js/services/publication-service.js"></script>
        <script type="application/javascript" src="js/services/upload-file-service.js"></script>
        <script type="application/javascript" src="js/services/delete-file-service.js"></script>
        <script type="application/javascript" src="js/services/session.js"></script>
        <script type="application/javascript" src="js/services/listClubs-service.js"></script>


        <script type="application/javascript" src="js/directives/create-modal-directive.js"></script>
        <script type="application/javascript" src="js/directives/upload-file-directive.js"></script>

        <link href="css/bootstrap/bootstrap.css" rel="stylesheet"/>
        <link href="css/advc-component-library.css" rel="stylesheet"/>
        <link href="css/advc-component-library-icons.css" rel="stylesheet"/>
        <link href="css/fonts.css" rel="stylesheet"/>
        <link href="css/main.css" rel="stylesheet"/>
        <link href="css/menu.css" rel="stylesheet"/>
        <link href="css/board.css" rel="stylesheet"/>
        <!--<link href="css/bootstrap/bootstrap-theme.css" rel="stylesheet"/>-->
        <!--<script type="text/javascript">-->
            <!--angular.element(document.getElementsByTagName('head')).append(angular.element('<base href="' + window.location.pathname + '" />'));-->
        <!--</script>-->
        <title>Asociación Departamental de Voleibol Cochabamba</title>
    </head>
    <body>
        <header ng-include="'partials/headerMenu.html'"></header>
        <div class="view" ng-view></div>
    </body>
</html>
