.menu {
    width: 100%;
    height: 100px !important;
    background-color: #000;
    padding: 0 20px;
    box-sizing: border-box;
}
.menu .logo {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-image: url("../img/logo.png");
    width: 130px;
    height: 100px;
    float: left;
    margin-right: 20px;
    font-size: initial;
    color: #fff;
}
.menu .btn-group {
    float: left;
    margin-left: 10px;
}
.menu .dropdown-toggle {
    background-color: #337ab7;
    min-width: 120px;
    height: 30px;
    padding: 2px 0 0 10px;
    border-radius: 2px;
    margin: 60px 0 0 0;
}
.menu .dropdown-toggle .menu-icon {
    float: left;
    margin: -5px 5px 5px 5px;
    color: #fff;
    font-size: 30px !important;
}
.menu .dropdown-toggle .dropdown-icon {
    float: right;
    margin: -5px 5px 5px 5px;
    color: #fff;
    font-size: 30px !important;
}
.menu .dropdown-toggle .text {
    float: left;
    text-align: left;
}
.menu .right-menu {
    float: right;
    text-align: right;
    padding: 5px 0;
    height: 100%;
}
.menu .right-menu a {
    cursor: pointer;
}
.menu .right-menu .language-choices {
    font-size: 10px;
    height: 20px;
}
.menu .right-menu .language-choices a {
    color: #fff;
    text-decoration: none;
}
.menu .right-menu .language-choices a:hover {
    text-decoration: underline;
}
.menu .right-menu .login-logout-box {
    font-size: 14px;
    bottom: 0;
    height: 30px;
    margin-top: 60px;
    line-height: 22px;
}
.menu .popover.bottom {
    margin: 20px 0 0 20px;
}
.menu .task-manager-button {
    float: right;
    width: 30px;
    height: 30px;
    margin: 7px 20px;
    font-size: 30px;
    cursor: pointer;
}
.menu .task-manager-button .icon-done.on {
    color: #060;
}
.menu .task-manager-button .icon-done.off {
    color: #999;
}
